/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: #f4f7f6; */
    background-color: #1a1a1a;
    color: #f3efef;
    line-height: 1.6;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: #1a1a1a;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.links a:hover {
    color: purple;
}

.links .login {
    background: purple;
    padding: 8px 18px;
    border-radius: 5px;
}

/* Header / Hero Section */
header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1a1a1a 0%, #4b0082 100%);
    color: white;
}

header h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header .image iframe {
    width: 48%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    height: 400px;
}

/* Offers Section (Grid) */
.offers {
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 50px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.article {
    background: purple;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}



.article h3 {
    margin-bottom: 15px;
        color: white;
}

.article p {
    font-size: 0.95rem;   
     color: white;
    margin-bottom: 20px;
    height: 50px; /* Keeps boxes aligned */
}

.article img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* Footer */
footer {
    background: #1a1a1a;
    color: #ccc;
    padding: 40px 5% 20px;
    text-align: center;
}

footer .short-links, 
footer .connect, 
footer .links {
    margin-bottom: 20px;
}

footer a {
    color: #999;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: color 0.3s;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 0.8rem;
    margin: 20px 0;
    border-top: 1px solid #333;
    padding-top: 20px;
}


/* the sphone style */

