* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

nav h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

img {
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.offers img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

header {

    text-align: center;
    margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
}
/* start style the sphone.html page */
main .folders {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

main img {
    width: 200px;
    border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

footer a {
  display: block;
  line-height: 3;
  color: inherit;
  text-decoration: none;
}